*{
    margin: 0 auto; padding: 10px;
    align-self: center;
   }
   body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0 auto; padding:8px;
    text-align: center;
    background-color: rgb(240,250,240);
    display: block;
  }
  .article{
    line-height: 1.4em;
    font-family: Trebuchet MS;
    color: black;
    padding: 10px;
    background-color: rgb(250,250,250)
  }
  img {
    height: 200px;
    width: 300px;
  }
h2 {
    width:200px;
    border: 5px;
    align-self: center;
  }
  h3 {
    display: inline;
    width:150px;
    border: 5px;
    color: rosybrown;
  }
  h1 {
    color: salmon;
    display: inline;
    font: italic bold 2em 'Open Sans', serif;
    }