*{
    margin: 0 auto; padding: 10px;
    align-self: center;
    
   }
   body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0 auto; padding:8px;
    text-align: center;
    background-color: whitesmoke;
    display: block;
    background-image: url("https://cdn.pixabay.com/photo/2016/01/19/17/36/photographer-1149781_960_720.jpg");
    background-repeat: no-repeat;
    background-size: 1400px 1400px;
    background-attachment: fixed;
    background-position: center center;
  }
  .article{
    line-height: 1.4em;
    font-family: Trebuchet MS;
    color: black;
    padding: 10px;
    background-color: rgb(250,250,250)
  }
  img {
    height: 200px;
    width: 300px;
  }
h2 {
    width:200px;
    border: 5px;
    align-self: center;
  }
  h3 {
    display: inline;
    width:150px;
    border: 5px;
    color: rosybrown;
  }
  h1 {
    color: salmon;
    display: inline;
    font: italic bold 2em 'Open Sans', serif;
    }
    html, body {
        margin: 0;
        padding: 0;
      }
      div {
        flex-direction: column;
        align-items: center;
        background-color:cornsilk;
        background-clip: content-box;
        padding: 10px;
        border: 0px inset grey;
        color:black;
      }
      #synopsis{
        background-color:lightskyblue;
       }
      
      
      p {
        font-size: 20px;
        font-style: italic;
        font-family: fantasy;
      }
      a:link {
        color: red;
      }
      
      a:visited {
        color: green;
      }
      a:hover {
        color: hotpink;
      }
      a:active {
        color: blue;
      }
form {
  border: 4px solid #f1f1f1;
}
.container {
  padding: 20px;
  background-color: #f1f1f1;
}
input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
input[type=checkbox] {
  margin-top: 16px;
}
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  border: none;
}
input[type=submit]:hover {
  opacity: 0.8;
}
